body {
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: -9px;
  padding-right: 43px;
  padding-left: 61px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 21px 34px 33px 22px;
  padding-right: 32px;
  padding-bottom: 0px;
  padding-left: 66px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px 10px 57px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-right: 15px;
  margin-bottom: 67px;
}
.button {
  display: inline-block;
  margin: 55px 20px 63px 69px;
  padding: 4px 59px 4px 44px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.link {
  margin-top: -10px;
  margin-bottom: -11px;
  margin-left: 62px;
  padding-bottom: 0px;
}
.pic {
  margin-right: 3px;
  margin-left: 287px;
}
.text {
  margin: -85px -56px 43px 10px;
  padding: 62px 0px 23px 3px;
  font-weight: 600;
}
.block {
  margin-right: -23px;
  margin-left: 14px;
  padding-right: 14px;
  padding-left: 0px;
  background-color: #ccc;
  opacity: 0.6;
}
.mazy {
  margin: -73px 11px -46px 407px;
  padding-bottom: 0px;
  padding-left: 58px;
}
@media (max-width: 991px) {
  h1 {
    margin-left: -22px;
    padding-bottom: 58px;
  }
  .pic {
    margin-left: 0px;
    padding-left: 0px;
  }
  .mazy {
    margin-left: 19px;
    padding-left: 47px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  h1 {
    margin-bottom: -68px;
  }
}